* {
    padding: 0;
    margin: 0;
    box-sizing: border;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* Home page */

.content {
    position: relative;
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    position: fixed;
    background-color: rgb(129, 32, 203);
    box-shadow: 5px 5px 30px rgba(3, 39, 59, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

nav .logo {
    width: 60px;
    margin: 2vh;
    margin-left: 8%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.navbar {
    display: flex;
    margin-right: 4vh;
}

.navbar a {
    color: white;
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 4px;
    font-weight: 500;
    text-decoration: none;
    transition: ease 0.40s;
}

.navbar a:hover,
.navbar a.active {
    background: rgb(235, 245, 247);
    color: rgb(4, 48, 56);
    box-shadow: 5px 10px 30px rgba(15, 109, 116, 0.2);
    border-radius: 5px;

}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.button {
    display: inline-block;
    margin-top: 5vh;
    font-size: 25px;
    padding: 10px 30px;
    text-decoration: none;
    transition: ease 0.30s;
}



.container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content {
    display: block;
}


.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    margin-top: 32vh;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover {
    background: #a59999;
}

/* theme */

.location-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-content {
    position: relative;
    filter: brightness(95%);
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

.col-content img {
    margin-bottom: 40px;
    height: 500px;
    border-radius: 27px;
    width: 100%;

}

.col-content h5 {
    position: absolute;
    font-size: 25px;
    color: white;
    font-weight: 500;
    left: 20px;
    bottom: 105px;
    cursor: pointer;
}

.col-content p {
    position: absolute;
    font-size: 20px;
    color: white;
    left: 20px;
    bottom: 80px;
    cursor: pointer;
}

.col-content:hover {
    filter: brightness(120%);
    transform: scale(1.03);
    cursor: pointer;
}




/* Services */

.text h2 {
    font-size: 40px;
    font-weight: 650;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 2;
    text-align: center;
}

.rowitems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 25px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.container-box {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 50px 10px;
    transition: all 0.7s ease 0s;
    cursor: pointer;
}

.container-image img {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
}

.container-box h4 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 550;
}

.container-box p {
    font-size: 16px;
    color: #808080;
}

.container-box:hover {
    transform: translateX(3px);
    box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
    border: 1px solid transparent;
    border-radius: 0px;
}

/* Packages */

.package-title {
    text-align: center;
}

.package-title h2 {
    font-size: 40px;
    font-weight: 650;
    padding-top: 75px;
    padding-bottom: 10px;
    line-height: 2;
}

.package-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image {
    position: relative;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
    filter: brightness(95%);
}

.image img {
    width: 100%;
    height: 500px;
    border-radius: 30px;
}

.image h3 {
    color: white;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    top: 10px;
    right: 20px;
}

.dest-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 50px;
}

.location h4 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 2px;
}

.pac-details li {
    font-size: 19px;
    color: #4c4c4c;
    margin-left: 15px;
    margin-bottom: 2px;
    list-style-type: disc;
}

.image:hover {
    filter: brightness(120%);
    transform: scale(1.03);
}

/* Locations */

.location-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-content {
    position: relative;
    filter: brightness(95%);
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

.col-content img {
    margin-bottom: 40px;
    height: 500px;
    border-radius: 27px;
    width: 400px;
}

.col-content h5 {
    position: absolute;
    font-size: 20px;
    color: rgb(38, 4, 55);
    font-weight: 400;
    left: 20px;
    bottom: 70px;
    cursor: pointer;
}

.boxed-text {
    border: 2px solid rgb(61, 9, 87);
    padding: 4px;
    background-color: rgb(223, 179, 245);
    /* Background color */
    display: inline-block;
    border-radius: 10px;
}


.col-content:hover {
    filter: brightness(120%);
    transform: scale(1.03);
    cursor: pointer;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.site-footer {
    background-color: rgb(16, 126, 126);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #021d27;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.site-footer hr {
    border-top-color: #021d27;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #021d27;
}

.site-footer a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #021d27;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #fff;
    text-decoration: none;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.copyright-text {
    margin: 0;
}

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.logo {
    color: #eb6857;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}

/* footer */
.site-footer {
  background-color:  rgb(129, 32, 203);
  padding: 50px 20px 20px;
  color: #021d27;
  margin-top: 60px;
  box-shadow: 0 -10px 30px rgba(0,0,0,0.2);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.site-footer p {
  font-size: 14px;
  line-height: 24px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #021d27;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #fff;
  padding-left: 5px;
}

.site-footer hr {
  margin: 30px 0;
  border-top: 1px solid rgba(2,29,39,0.4);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright-text {
  font-size: 14px;
}

.social-icons {
  list-style: none;
  display: flex;
  gap: 10px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(168, 72, 241);
  color: #fff;
  border-radius: 50%;
  transition: 0.3s;
  font-weight: 600;
}

.social-icons a:hover {
  background: #fff;
  color: rgb(168, 72, 241);
}

/* Responsive */
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
