* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f5f5;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 240px;
  height: 100vh;
  background: rgb(168, 72, 241);
  padding: 20px;
  color: #fff;
}

.sidebar h2 {
  margin-bottom: 30px;
  font-weight: 600;
}

.sidebar a {
  display: block;
  color: #fff;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  background: rgb(235, 245, 247);
  color: rgb(4, 48, 56);
}

/* MAIN */
.main {
  margin-left: 260px;
  padding: 30px;
}

.main h1 {
  margin-bottom: 20px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #fff;
  width: 200px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 10px 30px rgba(3, 39, 59, 0.15);
}

.card p {
  font-size: 28px;
  color: rgb(16, 126, 126);
  font-weight: 600;
}

/* CHART */
.chart-box {
  background: #fff;
  margin-top: 30px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 10px 30px rgba(3, 39, 59, 0.15);
}

/* UPLOAD */
.upload-box {
  background: rgb(223, 179, 245);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.upload-box input,
.upload-box button {
  padding: 10px;
  margin-right: 10px;
}

.upload-box button {
  background: rgb(168, 72, 241);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* GALLERY */
.gallery-grid {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.gallery-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.gallery-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-card h4 {
  padding: 15px;
  font-weight: 500;
}

.gallery-card:hover {
  transform: scale(1.03);
}
